<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-10">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">General overtime</p>
              <p class="title">{{summary.total}}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">This week overtime</p>
              <p class="title">{{summary.week}}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">This month overime</p>
              <p class="title">{{summary.month}}</p>
            </div>
          </div>
        </nav>
      </div>
      <div class="column">
        <a routerLink="/report" class="button is-success is-pulled-right">Report</a>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      <h2>Overtime list
        <a class="button is-pulled-right" (click)="loadOvertimes()">Reload</a>
      </h2>
    </div>
    <div class="columns">
      <div class="column is-half content">
        <table class="table is-hoverable">
          <thead>
            <th>Date</th>
            <th>Amount</th>
          </thead>
          <tbody>
            <tr *ngFor="let overtime of overtimes" (click)="onItemClick(overtime)" [ngClass]="{'is-selected': overtime == selectedOvertime}">
              <td>{{overtime.date}}</td>
              <td>{{overtime.hours}}h</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <app-overtime-history 
        [overtime]="selectedOvertime" 
        [onClose]="dismissDetails()"
        *ngIf="selectedOvertime != null"></app-overtime-history>
      </div>
    </div>
  </div>
</section>