<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <h4 class="inline">History for {{overtime.date}}
          <a class="button is-pulled-right" (click)="dismissDetails()">
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </a>
        </h4>
        <table class="table">
          <thead>
          <tr>
            <th>Amount</th>
            <th>Reported</th>
            <th>Comment</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let change of overtime.changes">
            <td><strong>{{change.amount}}h</strong></td>
            <td>{{change.when | date: 'yyyy-MM-dd / hh:mm'}}</td>
            <td>{{change.comment || '-'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</div>
